@page
@model Presentacion.Pages.CrudAccesosE

<div class="big-container">
    <h1>Accesos Empleados</h1>
    <div class="table-responsive">
        <table>
            <thead>
                <tr>
                    <th>
                        Id
                    </th>
                    <th>
                        Cedula
                    </th>
                    <th>
                        Contraseña
                    </th>
                </tr>
            </thead>
            <tbody>
                <form method="post">
                    @foreach (var accesoE in Model.accesosE)
                    {
                        <tr>
                            <td>@accesoE.Id</td>
                            <td>@accesoE.EmpleadoCedula</td>
                            <td>@accesoE.Contraseña</td>
                            <td class="al-right"><button asp-page-handler="Delete" asp-route-id="@accesoE.Id"
                                onclick="return confirm('¿Está seguro de eliminar este acceso?')"
                                class="light-buttons">Eliminar</button></td>
                        </tr>
                    }
                </form>
            </tbody>
        </table>
    </div>
    <hr>
    <div class="container-fluid">
        <div class="mini-containerA">
            <div>
                <h1>Registrar Acceso</h1>
                <div class="shadow">
                    <form method="post">
                        <input type="text" asp-for=" NuevoAccesoE.EmpleadoCedula" placeholder="C. Empleado" required />
                        <input type="text" asp-for=" NuevoAccesoE.Contraseña" placeholder="Contraseña" required />
                        <button type="submit" class="no-light-buttons">Guardar</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="mini-containerB">
            <div>
                <h1>Actualizar Acceso</h1>
            </div>
            <div class="shadow">
                <form method="post">
                    <input type="text" asp-for=" AccesoEEditar.EmpleadoCedula" placeholder="Buscar Cédula" required />
                    <input type="text" asp-for=" AccesoEEditar.Contraseña" placeholder="Contraseña" required />
                    <button type="submit" asp-page-handler="Edit" class="no-light-buttons">Editar</button>
                </form>
            </div>
        </div>
    </div>
</div>