@page
@model Presentacion.Pages.Cruds
<div>
    <a href="/CrudCliente">
        <h1>Crud Clientes</h1>
    </a>
    <a href="/CrudVehiculo">
        <h1>Crud Vehiculos</h1>
    </a>
    <a href="/CrudEmpleado">
        <h1>Crud Empleados</h1>
    </a>
    <a href="/CrudRevision">
        <h1>Crud Revisiones</h1>
    </a>
    <a href="/CrudOrdenes">
        <h1>Crud Ordenes de servicio</h1>
    </a>
    <a href="/CrudAccesoC">
        <h1>Crud Externos</h1>
    </a>
    <a href="/CrudAccesosE">
        <h1>Crud Internos</h1>
    </a>
    <a href="/MisRevisiones">
        <h1>Mis Revisiones</h1>
    </a>
    <a href="/MisOrdenes">
        <h1>Mis Ordenes</h1>
    </a>

</div>

<style>
    h1 {
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
    }

    h1:hover {
        background-color: mediumvioletred;
        color: white;
    }
</style>