@page
@model Presentacion.Pages.EspacioTrabajo

<div class="organizador">
    <div class="encabezado">
        <div>
            <i class="bi bi-wrench-adjustable-circle" style="font-size: 50px; line-height:0px; color:aliceblue; margin-left:15px;"></i>
        </div>
        <div>
            <h1 class="administrador">Mi Espacio de Trabajo</h1>
        </div>
    </div>
    <div class="container-fluid center">
        <div class="txtAlign">
            <div>
                <h1>Clientes</h1>
            </div>
            <div>
                <div class="">
                    <a href="/CrudCliente">
                        <i class="bi bi-people-fill iconos" style="font-size:128px; line-height:0px; color:#b5b073"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="txtAlign">
            <div>
                <h1>Vehiculos</h1>
            </div>
            <div class="">
                <a href="/CrudVehiculo">
                    <i class="bi bi-car-front-fill iconos" style="font-size:128px; line-height:0px; color:#b5b073"></i>
                </a>
            </div>
        </div>
        <div class="txtAlign">
            <div>
                <h1>Revisiones</h1>
            </div>
            <div class="">
                <a href="/CrudRevision">
                    <i class="bi bi-list-check iconos" style="font-size:128px; line-height:0px; color:#b5b073"></i>
                </a>
            </div>
        </div>
        <div class="xtAlign">
            <div>
                <h1>Ordenes</h1>
            </div>
            <div class="">
                <a href="/CrudOrdenes">
                    <i class="bi bi-info-square-fill iconos" style="font-size:120px; line-height:0px; color:#b5b073"></i>
                </a>
            </div>
        </div>
    </div>
</div>
<style>
    h1 {
        font-size: 27px;
        color: royalblue;
        background-color: aliceblue;
        font-weight: 600;
    }

    .administrador{
        color: aliceblue;
        background-color: royalblue;
        margin-left: 20px;
    }


    .organizador {
        display: flex;
        flex-direction: column;
        width: 70%;
    }

    .encabezado {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: royalblue;
        color: white;
        padding: 15px 0px;
    }

    .organizador-td {
        display: flex;
        flex-direction: row;
    }

    .center {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    .alineamiento {
        margin-top: 190px;
    }

    .txtAlign {
        text-align: center;
    }

    .container-fluid {
        justify-content: space-evenly;
        width: 70%;
        flex-wrap: wrap;
    }

    svg {
        object-fit: cover;
    }

    .iconos{
    }

    .iconos:hover{
        color:MediumVioletRed !important;
    }
</style>

<style type="text/css" media="screen (max-width:390px)">
    i{
        font-size: 50px;
    }
</style>