@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="big-container">
    <h1 class="encabezado"><i class="fa-solid fa-car icon-title"></i>Industria Automotriz</h1>
    <div class="container-fluid">
        <div class="contenedor-uno">
            <h2 class="text-center"><i class="fa-solid fa-bookmark"></i> Quienes Somos</h2>
            <p>Somos un taller de mecánica automotriz comprometidos y de gran confiabilidad
                con servicios de mecánica general,
                preparados para intervenir de forma
                rápida y eficaz en la reparación de
                tu automóvil.</p>
        </div>
        <div class="contenedor-uno">
            <h2 class="text-center"><i class="fa-solid fa-bookmark"></i> Misión</h2>
            <p>Ofrecer el mejor servicio y mantener
                en correcto funcionamiento sus
                vehículos, contamos con amplia
                experiencia, preparación y equipos
                para brindar el mejor servicio.</p>
        </div>
        <div class="contenedor-uno">
            <h2 class="text-center"><i class="fa-solid fa-bookmark"></i> Visión</h2>
            <p>Ser altamente competitivos, hasta
                llegar a ser líderes en nuestros
                servicios, visionamos ampliar
                nuestras instalaciones y formar
                la mejor red de talleres de
                mecánica a nivel nacional,
                siempre motivados en el buen
                servicio y confiabilidad.</p>
        </div>
    </div>
    <hr>
    <h1 class="encabezado"><i class="fa-solid fa-message icon-title"></i>Contacto</h1>
    <div class="container-fluid">
        <div class="contenedor-uno">
            <div>
                <h2>Envia tu mensaje</h2>
            </div>
            <div>
                <form method="post">

                    <div style="display:flex; flex-direction: column;">

                        <label class="label-form">Nombre Completo</label>
                        <input type="text" class="input-form" placeholder="Nombre" required />

                        <label class="label-form">Email</label></td>
                        <input type="text" class="input-form" placeholder="Ingresar Email" required />

                        <label class="label-form">Celular</label></td>
                        <input type="text" class="input-form" placeholder="Ingresar Celular" required />

                    </div>
                    <div>

                        <input type="text" class="input-grande" placeholder="Ingrese su mensaje" colspan="3" required />

                    </div>
                    <tr>
                        <button type="submit" colspan="3" class="no-light-buttons button-form"
                            style="align-items: left;">Enviar</button>
                    </tr>
                </form>
            </div>
        </div>
        <div class="contenedor-uno">
            <h2>Información de Contacto</h2>
            <hr>
            <p><i class="fa-solid fa-location-dot"></i> Cra 68 No 12-34</p>
            <p><i class="fa-solid fa-envelope"></i> indautomotriz@corp.com</p>
            <p><i class="fa-solid fa-phone"></i> 057 3024567</p>
            <hr>
            <p><i class="fa-brands fa-facebook"></i> <i class="fa-brands fa-instagram"></i> <i
                    class="fa-brands fa-twitter"></i></p>
        </div>
        <div class="contenedor-uno">
            <h2>Ubicación</h2>
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d254508.39280650613!2d-74.24789655790045!3d4.64862594373708!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f9bfd2da6cb29%3A0x239d635520a33914!2zQm9nb3TDoQ!5e0!3m2!1ses!2sco!4v1663205453535!5m2!1ses!2sco"
                allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</div>
