@page
@model IndustriaAutormotriz.App.Presentacion.Pages.QuienesSomosModel
@{
    ViewData["Title"] = "Quienes Somos";
}
<div class="flex-grow-2">
    <div class="contenedor-uno">
        <h3 class="display-4 titulo"><i class="fa-solid fa-bookmark"></i>  Quienes Somos</h3>
        <p>Somos un taller de mecánica automotriz
        <p>comprometidos y de gran confiabilidad
        <p>con servicios de mecánica general,</p>
        <p>preparados para intervenir de forma</p>
        <p>rápida y eficaz en la reparación de</p>
        <p>tu automóvil.</p>
    </div>
    <div class="contenedor-uno">
        <h3 class="display-4 titulo"><i class="fa-solid fa-bookmark"></i>  Misión</h3>
        <p>Ofrecer el mejor servicio y mantener</p>
        <p>en correcto funcionamiento sus</p>
        <p>vehículos, contamos con amplia</p>
        <p>experiencia, preparación y equipos</p>
        <p>para brindar el mejor servicio.</p>
    </div>
    <div class="contenedor-uno">
        <h3 class="display-4 titulo"><i class="fa-solid fa-bookmark"></i>  Visión</h3>
        <p>Ser altamente competitivos, hasta</p>
        <p>llegar a ser líderes en nuestros</p>
        <p>servicios, visionamos ampliar</p>
        <p>nuestras instalaciones y formar</p>
        <p>la mejor red de talleres de</p>
        <p>mecánica a nivel nacional,</p>
        <p>siempre motivados en el buen</p>
        <p>servicio y confiabilidad.</p>
    </div>
</div>



