* {
    font-family: 'Roboto', sans-serif;
}

.big-container {
    width: 71%;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

h1 {
    padding: 5px;
    background-color: royalblue;
    color: white;
    font-size: 27px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 5px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

h2{
    font-size: 23px;
    text-align: center;
    font-weight: bold;
}

.light-buttons {
    padding-top: 2px;
    padding-bottom: 1.5px;
    padding-left: 8px;
    padding-right: 8px;
    background-color: #b5b073;
    color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 1px 10px #b5b073;
    margin-bottom: 6px;
    margin-left: 5px;
}

.no-light-buttons {
    padding-top: 2px;
    background-color: #b5b073;
    color: white;
    border: none;
    border-radius: 5px;
}

.light-buttons:hover {
    background-color: MediumVioletRed;
    color: white;
}

.no-light-buttons:hover {
    background-color: MediumVioletRed;
    color: white;
}

th {
    color: navy;
    padding-top: 5px;
    padding-bottom: 2px;
    padding-left: 2px;
    padding-right: 2px;
    text-align: center;
    font-size: 17px;
}

td {
    text-align: center;
    font-size: 15px;
}

input {
    display: initial;
    flex-direction: row;
    width: 32%;
    /*margin: 0px auto !important;*/
    font-size: 15px;
}

input::placeholder{
    font-size: 14px;
}

hr {
    border-top: 1px solid rgba(0, 0, 0, 0.4);
    margin: 15px 0px;
    position: relative;
    top: 0.8%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.al-right {
    /*display: flex;*/
    /*text-align: right;*/
}

table {
    width: 100%;
}

.shadow {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    box-shadow: 0px 1px 10px royalblue !important;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.shadow form input {
    margin: 0px auto;
    width: 32%;
    background-color: aliceblue;
    border: 1px solid rgba(170, 169, 169, 0.979);
}

.shadow form button {
    display: block;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 0px;
    border-radius: 10px;
}

tbody {
    /*padding: 15px 30px;*/
}

.overflow {
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.col1 {
    margin-right: 20px;
    background: white;
    width: 49%;
}

.col2 {
    border: white;
    background: white;
    width: 49%;
}

.row {
    display: inline-flex;
    width: 100%;
    margin-left: 0px;
}

.container-fluid {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    padding-right: 0px;
    padding-left: 0px;
}

.container-fluid2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-evenly;
    padding-right: 0px;
    padding-left: 0px;
    margin-bottom: 20px;
}

.mini-containerA {
    margin-right: 20px;

}

.mini-containerB {
    margin-left: 20px;

}

.width-ajustado {
    width: 49%;
}

.centerTablasPequeñas {
    margin: 0;
    position: relative;
    top: 15%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.table-responsive {
    min-height: .01%;
    overflow-x: auto;
    box-shadow: 0px 1px 10px royalblue;
    border-radius: 15px;
    width: 100%;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}



/*@media screen and (max-width: 1260px){
    input{
        display: block !important;
        width: 90% !important;
        margin: 0px auto !important;
    }
}*/

@media screen and (max-width: 1360px){
    th {
        font-size: 14px;
    }
    
    td {
        font-size: 12px;
    }
    
    input {
        width: 48% !important;
        margin-top: 5px !important;
    }
    
    input::placeholder{
        font-size: 11px;
    }
}

@media screen and (max-width: 539px){
    th {
        font-size: 11px;
    }
    
    td {
        font-size: 9px;
    }
    
    input {
        width: 90% !important;
        margin: 0px auto;
        margin-top: 5px !important;
    }
    
    input::placeholder{
        font-size: 9px;
    }
}