/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
/* DevTic-masters
-------------------------------------------------- */
.btn-login {
  width: 163px;
  height: 52px;
  padding: 0px 10px 0px 10px;
  background: royalblue;
  color: #ffffff;
  border-color: #1464f6;
  border-width: 1px;
  border-style: solid;
  border-radius: 19px 19px 19px 19px;
  /* font-family: "Open Sans"; */
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  margin: 0px 5px 0px 6px;
}

.btn-login:hover {
  background-color: #25569b;
}

.icon-login{
  font-size: 30px;
  align-self: center;
}

.text-logo {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.2;
  text-align: left;
}

.icon-logo {
  font-size: 60px;
  color: #0844a4;
}

.contenedor-uno{
  display: flex;
  flex-direction: column;
  width: 32%;
  line-height: 1;
  text-align: left;
  padding: 10px;
  background-color: whitesmoke;
  border-radius: 19px 19px 19px 19px;
  font-size: 15px;
  overflow-x: auto;
}

.contenedor-uno h2{
  font-size: 20px;
}

.label-form{
  color: #3b4754;
  font-weight: 700;
  font-size: 11px;
  line-height: 1.1;
  text-align: left !important;
  margin-bottom: 0px;
  margin-top: 8px;
}

.input-form{
  width: 140px;
  height: 30px;
  background: #fdfdfd;
  color: #9fafc1;
  border-color: #c9d3dd;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px 4px 4px 4px;
  font-weight: 400;
  font-size: 12px;
  text-align: left;
  clear:both;
  margin-right: 20px;
}

.input-grande{
  width: 300px;
  height: 70px;
  background: #fdfdfd;
  color: #9fafc1;
  border-color: #c9d3dd;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px 4px 4px 4px;
  font-weight: 400;
  font-size: 12px;
  text-align: left;
  clear:both;
  margin-right: 10px;
  margin-top: 20px;
}

.button-form{
  width: 100px;
  height: 30px;
  padding: 0px 10px 0px 10px;
  background: #3d8af7;
  color: #ffffff;
  border-color: #ffffff;
  border-width: 1px;
  border-style: solid;
  border-radius: 2px 2px 2px 2px;
  font-weight: 700;
  font-size: 10px;
  text-align: center;
  margin: 15px;
}

.button-form:hover {
  background-color: #25569b;
}

.footer-dev{
  padding: 8px 8px 8px 8px;
  background: royalblue;
  text-align: center;
  color:#ffffff!important;
}

.table-contact{
  width: 50%;
}

iframe{
  border-radius: 19px 19px 19px 19px;
  width: 90%;
  height: 270px;
  margin: 0px auto;
}

.encabezado {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: royalblue;
  color: white;
  padding: 15px 0px;
  border-radius: 0px !important;
}

.icon-title{
  font-size: 50px;
  line-height:0px;
  color:aliceblue;
  margin-right:15px;
}

/* -------------------------------------------------- */
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
