@page
@model Presentacion.Pages.VistaTecnicoModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DevTic Masters</title>
    <script src="https://kit.fontawesome.com/8516639b59.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"> 
    <style>
        .container2{
            width: 100vw;
        }
        .main2{
            display: flex !important;
            width: 100%;
            flex-direction: row;
            justify-content: center;
            align-content: center;
        }

        .container-nav{
            display: flex;
            width: 70%;
            margin: 0px auto;
        }

    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index"><i class="fa-solid fa-car-circle-bolt"></i> DevTics Masters</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-4">
                            @* <a class="nav-link text-dark" asp-area="" asp-page="/CrudCliente">CrudC</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/CrudVehiculo">CrudV</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/CrudRevision">CrudR</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/CrudOrdenes">CrudO</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/CrudAccesoC">CrudAC</a>
                        </li> *@
@*                         <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="">NombreEmpleado</a>
                        </li> *@
                            <form class="form-inline my-2 my-lg-0">
                                <a class="nav-link text-dark" asp-area="" asp-page="">NombreEmpleado</a>
                            </form>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <div class="col justify-content-center align-items-center vh-100">
            <div class="text-center">
                <div class="btn-group btn-group-lg">
                    <button type="button" class="btn btn-secondary" onclick="window.location.href = '/CrudVehiculo'">Vehiculos</button>
                    <button type="button" class="btn btn-secondary" onclick="window.location.href = '/CrudRevision'">Revisiones</button>
                    <button type="button" class="btn btn-secondary" onclick="window.location.href = '/CrudOrdenes'">Ordenes de servicio</button>
                    <button type="button" class="btn btn-secondary" onclick="window.location.href = '/CrudAccesoC'">Clientes</button>
                </div>
            </div>
                <div class="text-center">
                    <h1 class="display-4"><i class="fa-solid fa-house"></i>Bienvenidos</h1>
                    <p>Descripción</p>
                </div>
        </div>
    </div>           

    <footer class="border-top footer text-muted footer-dev">
        <div class="container">
            &copy; DevTics Masters 2022
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @* @RenderSection("Scripts", required: false) *@
</body>
</html>
